.header {
  max-height: 88px;
  padding: 16px 0;
  margin: auto;
  display: flex;
  align-items: center;
  border: 2px solid #4C4CFF;
  background: #1C1C21;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 16px 24px 0px rgba(0, 0, 0, 0.04), 0px 24px 32px 0px rgba(0, 0, 0, 0.04);
  margin: 40px;
  justify-content: center;
  position: relative;
}

.logo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border: 1px dashed #4C4CFF;
  width: 290px;
  height: 50px;
  margin: auto;
}

.link {
  border: 1px dashed #4C4CFF;
}

.navigation_element {
  display: flex;
  flex-direction: row;
  gap: 8px;
  max-height: 56px;
  border-radius: 40px;
  padding: 16px 20px;
  border: 1px dashed #4C4CFF;
  box-sizing: border-box;
}

.container {
  display: flex;
  gap: 8px;
}

.navigation {
  width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

